[input/output]
outdir = "/homes/users/ljorquera/scratch/data/Miseq_optimization"
input = "/homes/users/ljorquera/scratch/data/Miseq_optimization/*_{R1,R2}*.fastq*"

[settings]
r2file = true
insize = -1
umiclustering = false
umitype = "TV"
minlen = 55
maxlen = 57
id = 0.99
ubs = 1
error = 1
simge = false
simgefilespath = "./bin/SimGE"
simgeid = "sample_0"
simgesequence = ""
cutsite = ""
aligner = "minimap2"
mock = false
template = false
spike = "no"

[seqs]
referencefasta = "./Testing-example/References/*"
indexhuman = "./Genomes/Human"
indexmouse = "./Genomes/Mouse"
reforganism = [["sample_0", "other"]]
grnaseq = [["sample_0", "GGGGCCACTAGGGACAGGAT"]]
selfref = [["sample_0", false ]]
template_seq = "./Testing-example/Template-hdr/*"
samplesnames_file = "samples.php"
protcutsite = [["sample_0", -3 ]]

[docker_settings]
process.container = "msanvicente/crisprgareq"
docker.enabled = false
singularity.enabled = true
singularity.automounts = true

