[input/output]
outDir = '/homes/users/ljorquera/scratch/data/Miseq_optimization'
input = '/homes/users/ljorquera/scratch/data/Miseq_optimization'

[settings]
r2file = true
inSize = -1
umiClustering = false
umiType = "TV"
minlen = 55
maxlen = 57
id = 0.99
ubs = 1
error = 1
simGE = false
simGEfilesPath = "./bin/SimGE"
simGEid = "sample_0"
simGEsequence = ""
cutSite = ""
aligner = "minimap2"
mock = false
template = false
spike = "no"

[seqs]
referenceFasta = '/homes/users/ljorquera/scratch/data/Miseq_optimization/amplicon_seqs/emx1-amplicon.fasta'
indexHuman = "./Genomes/Human"
indexMouse = "./Genomes/Mouse"
refOrganism = [['hek-12', 'Human'], ['hek-10', 'Human'], ['hek-1', 'Human'], ['hek-14', 'Human'], ['hek-11', 'Human'], ['hek-c', 'Human'], ['hek-5', 'Human'], ['hek-8', 'Human']]
gRNAseq = [['hek-12', 'GAGTCCGAGCAGAAGAAGAA'], ['hek-10', 'GAGTCCGAGCAGAAGAAGAA'], ['hek-1', 'GAGTCCGAGCAGAAGAAGAA'], ['hek-14', 'GAGTCCGAGCAGAAGAAGAA'], ['hek-11', 'GAGTCCGAGCAGAAGAAGAA'], ['hek-c', 'GAGTCCGAGCAGAAGAAGAA'], ['hek-5', 'GAGTCCGAGCAGAAGAAGAA'], ['hek-8', 'GAGTCCGAGCAGAAGAAGAA']]
selfRef = [['hek-12', 'false'], ['hek-10', 'false'], ['hek-1', 'false'], ['hek-14', 'false'], ['hek-11', 'false'], ['hek-c', 'false'], ['hek-5', 'false'], ['hek-8', 'false']]
template_seq = '/homes/users/ljorquera/scratch/data/Miseq_optimization/amplicon_seqs/template_pegguide_exmGtoT.fasta'
samplesNames_file = "samples.php"
protCutSite = [['hek-12', -3], ['hek-10', -3], ['hek-1', -3], ['hek-14', -3], ['hek-11', -3], ['hek-c', -3], ['hek-5', -3], ['hek-8', -3]]

[docker_settings]
process.container = "msanvicente/crisprgareq"
docker.enabled = false
singularity.enabled = true
singularity.autoMounts = true

